#oc{
  background-color: rgba(128, 128, 128, 0.096);
  height: 3000px;
}

#headers{
  position: absolute;
  top: 0;
  left:0;
}

#outer-frame-container{
  position: fixed;
  top: 2%;
  left: 5%;
  width: 90%;
  height: 100%;
  background-color: white;
  overflow-y:scroll;
}
#inner-frame-container{
  position: absolute;
  top: 35%;
  left: 17%;
  width: 40%;
  height: 100%;
  background-color: white;
}
#imageCarouselTop-session {
  position: absolute;
  top: 10%;
  width: 109.3%;
}

#overview-section {
  position: absolute;
  top: 5%;
  left: 5%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#imageCarousel-session {
  position: absolute;
  top: 70%;
  left: 5%;
  width: 192%;
}

#reservationAndMap{
  background-color: white;
  position: absolute;
  left: 62%;
  top: 35%;
}

#mapper {
  margin-left: 8px
}

/* #belowmapper{
  position: absolute;
  top: 103%;
  left: -3%;
} */
#menu-section {
  font-family: "Trebuchet MS", Helvetica, serif;
  font-size: 32px;
  position: absolute;
  left: 5%;
  top:110%;
}

.streetBox {
  padding-right: 3px;
}
